.vagrant

/data_bags/sites/*

.project
.buildpath
junit.xml
.DS_Store
.tags
.tags_sorted_by_file
.phptidy-cache
/.idea/*
!/.idea/cake_config_setting_v0_5.xml
!/.idea/codeStyleSettings.xml
!/.idea/dictionaries
!/.idea/encodings.xml
!/.idea/dataSources.xml
!/.idea/scopes

